body {
    background: #ffcc5c;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: red solid 2px;
    height: 100vh;
  }

/* visibility */
/* .cover {
    visibility: visible;
    z-index: 2;
} */

/* body {
    z-index: 1;
} */


/* Making a cover */
/* .cover {
    width: 
} */

/* Creating markers*/
h1 {
    border: black solid 2px;
}

.med {
    border: black solid 1px;
    font-size: 300%;
}

.reply {
    border: blue solid 1px
}