body {
    background: #ffcc5c;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border: red solid 2px;
    
    height: 95vh;
    width: 95vw;
    position: relative;

    box-sizing: border-box;
  }


/* visibility */
#pageCover {
    visibility: visible;
}


/* Set page behind and cover to 100vwh*/
.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;  /* for demo purpose  */
}

.cover {
    z-index: 1;
    /* margin: 20px; */
    /* background: red; */
}

/* Adding arrows to cover */

/* Make containers first */
.thing {
    /* border: blue solid 5px; */
    width: 32%;
    height: 10em;
    justify-content: center;
    align-items: center;
    float: left;
    padding-top: 100px;
  }

  .envelope {
    position: relative;
    flex-direction: row;
    justify-content: center;
  }
 
/* expanding h1 on cover */
h1.cover {
    height: 33%;
    padding-top: 5%;
    font-size: 4em;
}

/* Add arrows to containers */
.arrow {
    border: solid white;
    border-width: 0 3em 3em 0;
    width: 5em;
    height: 5em;
    transform: rotate(-45deg);
    margin-left: 30%;
}

/* change color of cover */
.box.cover {
    color: white;
    background: black;
}

/* Creating markers*/
/* h1 {
    border: black solid 2px;
} */


.med {
    border: black solid 1px;
    font-size: 300%;
}

.reply {
    border: blue solid 1px
}